@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.coluna-70 {
    width: 70%;
    background-color: #5686B2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coluna-30 {
    width: 30%;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-loja {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo-loja .img-titulo{
    display: flex;
    flex-direction: row;
}

.logo-loja .img-titulo img {
    width: 200px;
}

.logo-loja .img-titulo h1{
    margin: 18px 40px;
    font-size: 100px;
    font-family: 'Oswald', sans-serif;
    text-shadow: -2px 1px 0px rgba(255, 255, 255, 1);
    color: #9F454E;
}

.texto-subtitulo h2{
    margin: -80px 0px 0px 430px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    text-shadow: -3px 2px 0px rgba(160, 70, 79, 1);
    color: #ffffff;
}

.card-form-login {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-form-login .texto-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
}

.card-form-login .texto-form h1{
    font-weight: 300;
    margin-bottom: 20px;
    font-size: px;
}
.card-form-login form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 20px;
}

.card-form-login input {
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.card-form-login button {
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5686B2;
    color: #fff;
    cursor: pointer;
}

.card-form-login button:hover {
    background-color: #0056b3;
}




/* RESPONSIVIDADE */

@media (max-width: 768px) {

    body {
        display: flex;
        flex-direction: column;
    }

    .coluna-70 {
        width: 100%;
        background-color: #5686B2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .coluna-30 {
        width: 100%;
    }
    
    .logo-loja {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .logo-loja .img-titulo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0px 15px 0px 15px;
    }
    
    .logo-loja .img-titulo img {
        margin: 5px 25px 5px 20px;
        width: 30%;
        height: 30%;
    }
    
    .logo-loja .img-titulo h1{
        margin: 30px 15px 5px 0px;
        font-size: 40px;
    }
    
    .texto-subtitulo h2{
        margin: -70px 0px 0px 110px;
        font-size: 20px;
    }
    
    .card-form-login {
        background-color: #ffffff;
        width: 100%;
        height: 100vh;
        border-radius: 0px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    
    .card-form-login .texto-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    
    .card-form-login .texto-form h1{
        font-weight: bold;
        margin-bottom: 20px;
        font-size: 30px;
    }

    .card-form-login form {
        display: flex;
        flex-wrap: wrap;
    }

}